<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="footer">
  <footer class="footer bg-dark mt-5 pt-5 pb-5 d-flex justify-content-around align-items-start">
    <ul class="text-white">
      <li>
        <strong>Readingbook</strong><br>
        <a href="https://pickled-hat-6e6.notion.site/Backend-Developer-784d825620a54b8283bdbe915f9caead?pvs=74">https://github.com/liveinsoha</a>
      </li>
      <li>
        <strong>email : treesheep@naver.com</strong><br>
        <a href="https://github.com/liveinsoha">https://github.com/liveinsoha</a>
      </li>
    </ul>
  </footer>
</th:block>