<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="footer">
  <footer class="footer bg-dark mt-5 pt-5 pb-5 d-flex justify-content-around align-items-start">
    <ul class="text-white">
      <li>
        <strong>개발자 온라인 이력서</strong><br>
        <a href="https://pickled-hat-6e6.notion.site/Backend-Developer-784d825620a54b8283bdbe915f9caead?pvs=74">https://github.com/liveinsoha</a>
      </li>
      <li>
        <strong>개발자 깃허브 아이디</strong><br>
        <a href="https://github.com/liveinsoha">https://github.com/liveinsoha</a>
      </li>
      <li class="mt-3">
        <strong>블로그 주소</strong><br>
        <a href="https://treesheep.tistory.com/">https://treesheep.tistory.com</a>
      </li>

    </ul>
    <ul class="text-white">
      <li>
        <strong>프로젝트 페이지</strong><br>
        <a href="https://pickled-hat-6e6.notion.site/ReadingBook-322b5be3acec465b8c4aaa272bf2bf5a?pvs=74">https://pickled-hat-6e6.notion.site/ReadingBooks-39e7f9005e8a4447abea367ed3aee255?pvs=4</a>
      </li>
      <li class="mt-3">
        <strong>프로젝트 깃허브 리포지토리</strong><br>
        <a href="https://github.com/liveinsoha/ReadingBook">https://github.com/liveinsoha/ReadingBook</a>
      </li>
      <li class="mt-3">
        <strong>프로젝트 데이터베이스 설계</strong><br>
        <a href="https://www.erdcloud.com/d/2Y5hpCm24MqREDLyY">https://www.erdcloud.com/d/2Y5hpCm24MqREDLyY</a>
      </li>
    </ul>
  </footer>
</th:block>