<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="navbar">
  <aside class="admin-navbar__wrap">
    <ul>
      <li class="navbar-box">
        <div class="title">
          <b>
            <a href="/manage/home">관리자 홈</a>
          </b>
        </div>
      </li>
      <li class="navbar-box">
        <div class="title">작가 관리</div>
        <ul class="content">
          <li>
            <a href="/register/author"
                 th:classappend="${selectFlag eq 'registerAuthor'} ? 'selected' : ''">작가 등록</a>
          </li>
          <li>
            <a href="/search/author"
               th:classappend="${selectFlag eq 'searchAuthor'} ? 'selected' : ''">작가 검색</a>
          </li>
        </ul>
      </li>
      <li class="navbar-box">
        <div class="title">도서 관리</div>
        <ul class="content">
          <li>
            <a href="/register/book"
               th:classappend="${selectFlag eq 'registerBook'} ? 'selected' : ''">도서 등록</a>
          </li>
          <li>
            <a href="/manage/search/book"
               th:classappend="${selectFlag eq 'searchBook'} ? 'selected' : ''">도서 검색</a>
          </li>
          <li>
            <a href="/register/book-content"
               th:classappend="${selectFlag eq 'registerBookContent'} ? 'selected' : ''">도서 내용 입력</a>
          </li>
          <li>
            <a href="/update/search/book-content"
               th:classappend="${selectFlag eq 'updateBookContent'} ? 'selected' : ''">도서 내용 수정</a>
          </li>
          <li>
            <a href="/delete/book-content"
               th:classappend="${selectFlag eq 'deleteBookContent'} ? 'selected' : ''">도서 내용 삭제</a>
          </li>
        </ul>
        <ul class="content">
          <li>
            <a href="/register/book-group"
               th:classappend="${selectFlag eq 'registerBookGroup'} ? 'selected' : ''">도서 시리즈 등록</a>
          </li>
          <li>
            <a href="/search/book-group"
               th:classappend="${selectFlag eq 'searchBookGroup'} ? 'selected' : ''">도서 시리즈 검색</a>
          </li>
        </ul>
      </li>
      <li class="navbar-box">
        <div class="title">카테고리</div>
        <ul class="content">
          <li>
            <a href="/search/categories"
               th:classappend="${selectFlag eq 'searchCategories'} ? 'selected' : ''">카테고리 전체조회</a>
          </li>
        </ul>
      </li>
    </ul>
  </aside>
</th:block>
