<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <th:block th:replace="~{common/fragments/csrf :: csrf}"></th:block>
  <title>리딩북스</title>

  <th:block th:replace="~{common/fragments/common-settings :: settings}"></th:block>
  <link rel="stylesheet" th:href="@{/css/home/navbar.css}" type="text/css">
  <link rel="stylesheet" th:href="@{/css/management/management.css}" type="text/css">

  <script th:src="@{/js/common/call-ajax.js}"></script>
  <script th:src="@{/js/manage/book/book.js}"></script>
</head>

<body>
  <div class="container">
    <header class="header mb-5 mt-1">
      <th:block th:replace="~{common/fragments/navbar :: navbar}"></th:block>
    </header>
    <main class="main">
      <div class="row">
        <div class="col-2">
          <th:block th:replace="~{manage/fragments/navbar :: navbar}"></th:block>
        </div>
        <div class="col-10">
          <div class="text-center mb-3">
            <!-- 전체 수정 버튼 -->
            <button class="btn btn-primary toggle-all-buttons">수정,삭제</button>
          </div>
          <!-- 도서 제목으로 검색하는 폼 -->
          <form class="book-form content-box d-flex" id="bookForm" method="GET" action="/manage/search/book">
            <!-- action과 method 속성 추가 -->
            <input type="text" name="query" th:value="${query}" id="bookSearch"
              class="form-control mb-3 p-2 flex-grow-1" />
            <!-- input name을 query로 변경 -->
            <div id="bookSuggestions" class="mb-3 p-2"></div>
            <button type="submit" class="btn btn-primary p-3 search ms-2">검색</button> <!-- 버튼 타입을 submit으로 변경 -->
          </form>

          <div class="text-center">
            <form class="category-form content-box" action="">
              <table class="table" th:if="${responses.content.size() ne 0}">
                <thead class="table-light">
                  <tr>
                    <th scope="col">도서 아이디</th> <!-- scope="col" 추가 -->
                    <th scope="col">도서 제목</th>
                    <th scope="col">출판사</th>
                    <th scope="col">이미지</th>
                    <th scope="col">승인 여부</th>
                    <th scope="col">판매 중</th>
                    <th scope="col">수정 및 삭제</th> <!-- 수정 및 삭제 버튼 열 추가 -->
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="response : ${responses.content}">
                    <td th:text="${response.bookId}"></td>
                    <td th:text="${response.title}"></td>
                    <td th:text="${response.publisher}"></td>
                    <td>
                      <img th:src="@{{savedImageName}(savedImageName=${response.savedImageName})}" width="150px"
                        height="200px">
                    </td>
                    <td>
                      <div th:if="${response.isRequested}">승인 대기중</div>
                      <div th:if="${!response.isRequested && response.isAccepted}">승인됨</div>
                      <div th:if="${!response.isRequested && !response.isAccepted}">승인 거부</div>
                      <!-- 승인 상태 표시 -->
                    </td>
                    <td>
                      <div th:if="${response.isOnSale}" >O</div>
                      <div th:unless="${response.isOnSale}">X</div>
                      <!-- 판매 중 여부 표시 -->
                    </td>
                    <td>
                      <div class="toggle-buttons" style="display:none;"> <!-- 수정 및 삭제 버튼 숨김 -->
                        <a th:href="@{'/update/book/' + ${response.bookId}}" class="btn btn-primary">수정</a>
                        <button class="btn btn-danger delete-button" th:data-book="${response.bookId}">삭제</button>
                      </div>
                      <!-- 수정 버튼 추가 -->
                    </td>
                  </tr>
                </tbody>

              </table>
              <div class="content-box" th:if="${responses.content.size() eq 0}">
                '<span th:text="${query}"></span>'에 대한 검색 결과가 없습니다.
              </div>

              <section th:if="${responses.totalElements ne 0}" class="mt-2 d-flex justify-content-center">
                <nav aria-label="Page navigation">
                  <ul class="pagination">
                    <li class="page-item" th:class="${responses.first} ? 'disabled'">
                      <a class="page-link"
                        th:href="@{/manage/search/book(query=${query}, page=${paging.firstPageNumber}, order=${condition.order})}"
                        aria-label="Previous">
                        <span aria-hidden="true">&laquo;&laquo;</span>
                      </a>
                    </li>
                    <li class="page-item" th:class="${responses.first} ? 'disabled'">
                      <a class="page-link"
                        th:href="@{/manage/search/book(query=${query}, page=${paging.prevPageNumber}, order=${condition.order})}"
                        aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    <th:block
                      th:with="start = ${paging.startPageNumberInThisPageGroup}, end = ${paging.lastPageNumberInThisPageGroup}">
                      <li class="page-item" th:each="num : ${#numbers.sequence(start, end)}"
                        th:class="${responses.pageable.pageNumber eq num - 1} ? 'active' : ''">
                        <a class="page-link"
                          th:href="@{/manage/search/book(query=${query}, page=${num} - 1, order=${condition.order})}"
                          th:text="${num}">1</a>
                      </li>
                    </th:block>
                    <li class="page-item" th:class="${responses.last} ? 'disabled' : ''">
                      <a class="page-link"
                        th:href="@{/manage/search/book(query=${query}, page=${paging.nextPageNumber}, order=${condition.order})}"
                        aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                    <li class="page-item" th:class="${responses.last} ? 'disabled' : ''">
                      <a class="page-link"
                        th:href="@{/manage/search/book(query=${query}, page=${paging.lastPageNumber}, order=${condition.order})}"
                        aria-label="Next">
                        <span aria-hidden="true">&raquo;&raquo;</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </section>
            </form>
          </div>
        </div>
        <!-- 검색 결과를 감싸는 컨테이너 -->
      </div>

    </main>

  </div>
</body>


</html>