<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <th:block th:replace="~{common/fragments/csrf :: csrf}"></th:block>
  <title>리딩북스</title>

  <th:block th:replace="~{common/fragments/common-settings :: settings}"></th:block>
  <link rel="stylesheet" th:href="@{/css/home/navbar.css}" type="text/css">
  <link rel="stylesheet" th:href="@{/css/management/management.css}" type="text/css">

  <script th:src="@{/js/common/call-ajax.js}"></script>
  <script th:src="@{/js/manage/author/author.js}"></script>
</head>

<body>
  <div class="container">
    <header class="header mb-5 mt-1">
      <th:block th:replace="~{common/fragments/navbar :: navbar}"></th:block>
    </header>
    <main class="main">
      <div class="row">
        <div class="col-2">
          <th:block th:replace="~{manage/fragments/navbar :: navbar}"></th:block>
        </div>

        <div class="col-10">
          <form class="author-form content-box" id="authorForm" method="GET" action="/search/author">
            <!-- method와 action 추가 -->
            <label for="authorSearch">작가 이름으로 검색</label>
            <input type="text" name="query" id="authorSearch" class="form-control mb-3 p-2" th:value="${query}" />
            <div id="authorSuggestions" class="mb-3 p-2"></div>
            <button type="submit" class="btn btn-primary w-100 p-3 search">검색하기</button> <!-- 버튼 타입을 submit으로 변경 -->
          </form>


          <!-- 작가 검색 결과 표시 -->
          <div class="category-form">
            <table class="table">
              <thead>
                <tr>
                  <th>작가 ID</th>
                  <th>작가 이름</th>
                  <th>출생 연도</th>
                  <th>성별</th>
                  <th>작가 옵션</th>
                  <th>수정</th> <!-- 수정 버튼 추가 -->
                </tr>
              </thead>
              <tbody>
                <tr th:each="authorResponse : ${responses}">
                  <td th:text="${authorResponse.authorId}"></td>
                  <td th:text="${authorResponse.authorName}"></td>
                  <td th:text="${authorResponse.birthYear}"></td>
                  <td th:text="${authorResponse.gender}"></td>
                  <td th:text="${authorResponse.authorOption}"></td>
                  <td><a th:href="@{'/update/author/' + ${authorResponse.authorId}}" class="btn btn-primary">수정</a></td>
                  <!-- 수정 버튼 링크 -->
                </tr>
              </tbody>
            </table>
            <div class="content-box" th:if="${responses.size() eq 0}">
              '<span th:text="${query}"></span>'에 대한 검색 결과가 없습니다.
            </div>
          </div>
        </div>

        <!-- 선택된 작가 ID를 저장할 hidden input -->
        <input type="hidden" name="selectedAuthorId" id="selectedAuthorId">
      </div>

</body>

</html>